.ol{
	color:blue;
	-webkit-color:red;
	-moz-color:red;
}

.ado{
	width:30%;
	height:200px;
}

.vdo{
	width:60%;
	height:500px;
}


.map{
	width:50%;
	height:300px;
	border:0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}

.avd{
	width:50%;
	height:300px;
}


.fl{
    color: blue;
    font-weight: bold;  
}

table,
th,
tr,
td {
    border: 3px solid black;
}

th {
    font-weight: bold;
    color: red;
}
